# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Generated codes
*.gen.go

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# env files
.env

# directories
bin

.vscode
node_modules/
__transpiled/

.watchman*

.terraform
*.hcl
*.tfstate
*.tfstate.backup

.idea/